<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - testTask</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="~/js/Script.js"></script>
        <script src="~/lib/jquery.tmpl.js"></script>
    </environment>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - testTask</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
